
<div id="google_map" class="map_container" align="center">
  <h1>Map Testing</h1>
  <iframe
      width="650"
      height="450"
      frameborder="0" style="border:0"
      referrerpolicy="no-referrer-when-downgrade"
      src="https://www.google.com/maps/embed/v1/place?key=<%= Rails.application.credentials.google[:maps_api] %>&q=<%= "661 Roosevelt Ave, SLC, UT, 84105" %>&zoom=13&maptype=satellite"
      allowfullscreen>
  </iframe>
</div>