<h1>Map Testing</h1>

<div id="google_map" class="map_container">
  <iframe
      width="650"
      height="450"
      frameborder="0" style="border:0"
      referrerpolicy="no-referrer-when-downgrade"
      src="https://www.google.com/maps/embed/v1/place?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&q=<%= @trip.lat %>,<%= @trip.long %>&zoom=13&maptype=satellite"
      allowfullscreen>
  </iframe>
</div>